@using WebUi.Models
@model PartsListViewModel


@{
    ViewBag.Title = "Запчасти";
}

@foreach (var part in Model.Parts)
{
    <div>
        
        <h3>@part.Name - @part.Category</h3>
        <p>@part.Description</p>
        <h4>@part.Price.ToString("# руб")</h4> 

    </div>
    <hr / >


}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>